# Clonamos el repositorio para obtener los dataSet

In [1]:
!git clone https://github.com/joanby/python-ml-course.git

Cloning into 'python-ml-course'...
remote: Enumerating objects: 17387, done.
remote: Total 17387 (delta 0), reused 0 (delta 0), pack-reused 17387
Receiving objects: 100% (17387/17387), 512.33 MiB | 24.02 MiB/s, done.
Resolving deltas: 100% (128/128), done.
Checking out files: 100% (16900/16900), done.

# Damos acceso a nuestro Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Test it

In [ ]:
!ls '/content/drive/My Drive'

# Google colab tools

In [1]:
from google.colab import files # Para manejar los archivos y, por ejemplo, exportar a su navegador
import glob # Para manejar los archivos y, por ejemplo, exportar a su navegador
from google.colab import drive # Montar tu Google drive

# Python3.8

# Colab no permite actualizar la version de python, asi que utilizamos miniconda

### Tener paciencia y esperar 1 minuto

In [2]:
!wget -O mini.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh > /dev/null 2>&1
!chmod +x mini.sh
!bash ./mini.sh -b -f -p /usr/local > /dev/null 2>&1
!conda install -q -y --prefix /usr/local jupyter > /dev/null 2>&1
!python -m ipykernel install --name "py38" --user > /dev/null 2>&1

### La celda de abajo, ejecutar cada vez que reinicies el kernel.

In [3]:
import sys
#si usamos append nos coge la libreria de python3.6, ya que el so lee de forma secuencial la lista de librerias
_ = (sys.path.insert(0,"/usr/local/lib/python3.8/site-packages")) #folder librerias python
sys.path

['/usr/local/lib/python3.8/site-packages',
 '',
 '/env/python',
 '/usr/lib/python36.zip',
 '/usr/lib/python3.6',
 '/usr/lib/python3.6/lib-dynload',
 '/usr/local/lib/python3.6/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.6/dist-packages/IPython/extensions',
 '/root/.ipython']

In [4]:
!conda install numpy scipy matplotlib pandas --yes > /dev/null 2>&1
!conda install -c conda-forge statsmodels  --yes > /dev/null 2>&1
!conda install --channel conda-forge featuretools --yes > /dev/null 2>&1

In [5]:
!python3 --version

Python 3.8.3

# Data Wrangling - La cirugía de los datos

El **data wrangling**, a veces denominada **data munging**, es el proceso de transformar y mapear datos de un dataset *raw* (en bruto) en otro formato con la intención de hacerlo más apropiado y valioso para una variedad de propósitos posteriores, como el análisis. Un **data wrangler** es una persona que realiza estas operaciones de transformación.

Esto puede incluir munging, visualización de datos, agregación de datos, entrenamiento de un modelo estadístico, así como muchos otros usos potenciales. La oscilación de datos como proceso generalmente sigue un conjunto de pasos generales que comienzan extrayendo los datos en forma cruda del origen de datos, dividiendo los datos en bruto usando algoritmos (por ejemplo, clasificación) o analizando los datos en estructuras de datos predefinidas, y finalmente depositando el contenido resultante en un sistema de almacenamiento (o silo) para su uso futuro.

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("/content/python-ml-course/datasets/customer-churn-model/Customer Churn Model.txt")

In [9]:
data.head()

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    KS             128        415  ...        2.70              1  False.
1    OH             107        415  ...        3.70              1  False.
2    NJ             137        415  ...        3.29              0  False.
3    OH              84        408  ...        1.78              2  False.
4    OK              75        415  ...        2.73              3  False.

[5 rows x 21 columns]

### Crear un subconjunto de datos

#### Subconjunto de columna o columnas

In [10]:
account_length = data["Account Length"]

In [11]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [12]:
type(account_length)

pandas.core.series.Series

In [13]:
subset = data[["Account Length", "Phone", "Eve Charge", "Day Calls"]]

In [14]:
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [15]:
type(subset)

pandas.core.frame.DataFrame

In [16]:
desired_columns = ["Account Length", "Phone", "Eve Charge", "Night Calls"]
subset = data[desired_columns]
subset.head()

   Account Length     Phone  Eve Charge  Night Calls
0             128  382-4657       16.78           91
1             107  371-7191       16.62          103
2             137  358-1921       10.30          104
3              84  375-9999        5.26           89
4              75  330-6626       12.61          121

In [17]:
desired_columns = ["Account Length", "VMail Message", "Day Calls"]
desired_columns

['Account Length', 'VMail Message', 'Day Calls']

In [18]:
all_columns_list = data.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [19]:
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [20]:
subset = data[sublist]
subset.head()

  State  Area Code     Phone  ... Intl Charge CustServ Calls  Churn?
0    KS        415  382-4657  ...        2.70              1  False.
1    OH        415  371-7191  ...        3.70              1  False.
2    NJ        415  358-1921  ...        3.29              0  False.
3    OH        408  375-9999  ...        1.78              2  False.
4    OK        415  330-6626  ...        2.73              3  False.

[5 rows x 18 columns]

#### Subconjunto de filas

In [21]:
data[1:25]

   State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
1     OH             107        415  ...        3.70              1  False.
2     NJ             137        415  ...        3.29              0  False.
3     OH              84        408  ...        1.78              2  False.
4     OK              75        415  ...        2.73              3  False.
5     AL             118        510  ...        1.70              0  False.
6     MA             121        510  ...        2.03              3  False.
7     MO             147        415  ...        1.92              0  False.
8     LA             117        408  ...        2.35              1  False.
9     WV             141        415  ...        3.02              0  False.
10    IN              65        415  ...        3.43              4   True.
11    RI              74        415  ...        2.46              0  False.
12    IA             168        408  ...        3.02              1  False.
13    MT              95        510  ...        3.32              3  False.
14    IA              62        415  ...        3.54              4  False.
15    NY             161        415  ...        1.46              4   True.
16    ID              85        408  ...        3.73              1  False.
17    VT              93        510  ...        2.19              3  False.
18    VA              76        510  ...        2.70              1  False.
19    TX              73        415  ...        3.51              1  False.
20    FL             147        415  ...        2.86              0  False.
21    CO              77        408  ...        1.54              5   True.
22    AZ             130        415  ...        2.57              0  False.
23    SC             111        415  ...        2.08              2  False.
24    VA             132        510  ...        2.78              0  False.

[24 rows x 21 columns]

In [22]:
data[10:35]

   State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
10    IN              65        415  ...        3.43              4   True.
11    RI              74        415  ...        2.46              0  False.
12    IA             168        408  ...        3.02              1  False.
13    MT              95        510  ...        3.32              3  False.
14    IA              62        415  ...        3.54              4  False.
15    NY             161        415  ...        1.46              4   True.
16    ID              85        408  ...        3.73              1  False.
17    VT              93        510  ...        2.19              3  False.
18    VA              76        510  ...        2.70              1  False.
19    TX              73        415  ...        3.51              1  False.
20    FL             147        415  ...        2.86              0  False.
21    CO              77        408  ...        1.54              5   True.
22    AZ             130        415  ...        2.57              0  False.
23    SC             111        415  ...        2.08              2  False.
24    VA             132        510  ...        2.78              0  False.
25    NE             174        415  ...        4.19              3  False.
26    WY              57        408  ...        2.57              0  False.
27    MT              54        408  ...        3.97              3  False.
28    MO              20        415  ...        1.70              0  False.
29    HI              49        510  ...        3.00              1  False.
30    IL             142        415  ...        3.83              2  False.
31    NH              75        510  ...        2.78              1  False.
32    LA             172        408  ...        3.40              3  False.
33    AZ              12        408  ...        3.19              1   True.
34    OK              57        408  ...        2.24              0  False.

[25 rows x 21 columns]

In [23]:
data[:8] # CORRECCIÓN: es lo mismo que data[0:8]

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    KS             128        415  ...        2.70              1  False.
1    OH             107        415  ...        3.70              1  False.
2    NJ             137        415  ...        3.29              0  False.
3    OH              84        408  ...        1.78              2  False.
4    OK              75        415  ...        2.73              3  False.
5    AL             118        510  ...        1.70              0  False.
6    MA             121        510  ...        2.03              3  False.
7    MO             147        415  ...        1.92              0  False.

[8 rows x 21 columns]

In [24]:
data[3320:]

     State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
3320    GA             122        510  ...        2.62              4   True.
3321    VT              60        415  ...        3.56              3  False.
3322    MD              62        408  ...        3.11              4   True.
3323    IN             117        415  ...        3.67              5   True.
3324    WV             159        415  ...        3.13              1  False.
3325    OH              78        408  ...        2.51              2  False.
3326    OH              96        415  ...        4.02              1  False.
3327    SC              79        415  ...        3.19              2  False.
3328    AZ             192        415  ...        2.67              2  False.
3329    WV              68        415  ...        2.59              3  False.
3330    RI              28        510  ...        3.81              2  False.
3331    CT             184        510  ...        1.35              2  False.
3332    TN              74        415  ...        3.70              0  False.

[13 rows x 21 columns]

#### Subconjuntos de filas con condiciones booleanas

In [25]:
##Usuarios con Day Mins > 300
data1 = data[data["Day Mins"]>300]
data1.shape

(43, 21)

In [26]:
##Usuarios de Nueva York (State = "NY")
data2 = data[data["State"]=="NY"]
data2.shape

(83, 21)

In [27]:
##AND -> &
data3 = data[(data["Day Mins"]>300) & (data["State"]=="NY")]
data3.shape

(2, 21)

In [28]:
##OR -> |
data4 = data[(data["Day Mins"]>300) | (data["State"]=="NY")]
data4.shape

(124, 21)

In [34]:
data5 = data[data["Day Calls"]<data["Night Calls"]]
data5.shape

(1626, 21)

In [35]:
data6 = data[data["Day Mins"]<data["Night Mins"]]
data6.shape

(2051, 21)

In [36]:
##Minutos de día, de noche y Longitud de la Cuenta de los primeros 50 individuos
subset_first_50 = data[["Day Mins", "Night Mins", "Account Length"]][:50]
subset_first_50.head()

   Day Mins  Night Mins  Account Length
0     265.1       244.7             128
1     161.6       254.4             107
2     243.4       162.6             137
3     299.4       196.9              84
4     166.7       186.9              75

In [37]:
subset[:10]

  State  Area Code     Phone  ... Intl Charge CustServ Calls  Churn?
0    KS        415  382-4657  ...        2.70              1  False.
1    OH        415  371-7191  ...        3.70              1  False.
2    NJ        415  358-1921  ...        3.29              0  False.
3    OH        408  375-9999  ...        1.78              2  False.
4    OK        415  330-6626  ...        2.73              3  False.
5    AL        510  391-8027  ...        1.70              0  False.
6    MA        510  355-9993  ...        2.03              3  False.
7    MO        415  329-9001  ...        1.92              0  False.
8    LA        408  335-4719  ...        2.35              1  False.
9    WV        415  330-8173  ...        3.02              0  False.

[10 rows x 18 columns]

#### Filtrado con ix -> loc e iloc

In [42]:
#data.ix[1:10, 3:6] Deprecated ## Primeras 10 filas, columnas de la 3 a la 6 
data.iloc[1:10, 3:6]

      Phone Int'l Plan VMail Plan
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [43]:
data.iloc[:,3:6] ##Todas las filas para las columnas entre la 3 y la 6
data.iloc[1:10,:] ##Todas las columnas para las filas de la 1 a la 10

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
1    OH             107        415  ...        3.70              1  False.
2    NJ             137        415  ...        3.29              0  False.
3    OH              84        408  ...        1.78              2  False.
4    OK              75        415  ...        2.73              3  False.
5    AL             118        510  ...        1.70              0  False.
6    MA             121        510  ...        2.03              3  False.
7    MO             147        415  ...        1.92              0  False.
8    LA             117        408  ...        2.35              1  False.
9    WV             141        415  ...        3.02              0  False.

[9 rows x 21 columns]

In [44]:
data.iloc[1:10, [2,5,7]]

   Area Code VMail Plan  Day Mins
1        415        yes     161.6
2        415         no     243.4
3        408         no     299.4
4        415         no     166.7
5        510         no     223.4
6        510        yes     218.2
7        415         no     157.0
8        408         no     184.5
9        415        yes     258.6

In [45]:
data.iloc[[1,5,8,36], [2,5,7]]

    Area Code VMail Plan  Day Mins
1         415        yes     161.6
5         510         no     223.4
8         408         no     184.5
36        408        yes     146.3

In [46]:
data.loc[[1,5,8,36], ["Area Code", "VMail Plan", "Day Mins"]]

    Area Code VMail Plan  Day Mins
1         415        yes     161.6
5         510         no     223.4
8         408         no     184.5
36        408        yes     146.3

#### Insertar nuevas filas en el dataframe

In [47]:
data["Total Mins"] = data["Day Mins"] + data["Night Mins"] + data["Eve Mins"]

In [48]:
data["Total Mins"].head()

0    707.2
1    611.5
2    527.2
3    558.2
4    501.9
Name: Total Mins, dtype: float64

In [49]:
data["Total Calls"] = data["Day Calls"] + data["Night Calls"] + data["Eve Calls"]

In [50]:
data["Total Calls"].head()

0    300
1    329
2    328
3    248
4    356
Name: Total Calls, dtype: int64

In [51]:
data.shape

(3333, 23)

In [52]:
data.head()

  State  Account Length  Area Code  ...  Churn? Total Mins Total Calls
0    KS             128        415  ...  False.      707.2         300
1    OH             107        415  ...  False.      611.5         329
2    NJ             137        415  ...  False.      527.2         328
3    OH              84        408  ...  False.      558.2         248
4    OK              75        415  ...  False.      501.9         356

[5 rows x 23 columns]

### Generación aleatoria de números

In [53]:
import numpy as np

In [54]:
##Generar un número aleatorio entero entre 1 y 100
np.random.randint(1,100)

15

In [55]:
##La forma más clásica de generar un número aleatorio es entre 0 y 1 (con decimales)
np.random.random()

0.33007103816946737

In [56]:
##Función que genera una lista de n números aleatorios enteros dentro del intervalo [a,b]
def randint_list(n, a, b):
    x = []
    for i in range(n):
        x.append(np.random.randint(a,b))
    return x

In [57]:
randint_list(25, 1, 50)

[39,
 4,
 42,
 37,
 41,
 31,
 15,
 25,
 18,
 17,
 6,
 3,
 2,
 21,
 13,
 21,
 10,
 7,
 10,
 1,
 41,
 4,
 47,
 26,
 2]

In [58]:
import random

In [59]:
for i in range(10):
    print(random.randrange(0, 100,7))

42
56
91
98
28
49
0
98
35
35

#### Shuffling

In [60]:
a = np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [61]:
np.random.shuffle(a)

In [62]:
a

array([92, 94, 16, 20, 91, 24, 88,  3, 61, 97, 82,  2, 48, 67, 37, 86, 53,
        4, 72, 29, 47, 22,  6, 51, 41, 30, 89, 63, 59, 56, 75, 23, 65, 13,
       68,  7, 18, 55, 76, 64, 10, 80, 44,  1,  0, 95, 12, 31,  8,  5, 34,
        9, 69, 98, 40, 17, 50, 66, 87, 39, 32, 15, 70, 85, 26, 74, 60, 73,
       11, 14, 96, 57, 62, 42, 43, 38, 78, 90, 35, 21, 79, 77, 33, 84, 46,
       81, 93, 54, 27, 45, 36, 19, 25, 28, 52, 71, 99, 83, 58, 49])

#### Choice

In [63]:
data.head()

  State  Account Length  Area Code  ...  Churn? Total Mins Total Calls
0    KS             128        415  ...  False.      707.2         300
1    OH             107        415  ...  False.      611.5         329
2    NJ             137        415  ...  False.      527.2         328
3    OH              84        408  ...  False.      558.2         248
4    OK              75        415  ...  False.      501.9         356

[5 rows x 23 columns]

In [64]:
data.shape

(3333, 23)

In [65]:
column_list = data.columns.values.tolist()
column_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?',
 'Total Mins',
 'Total Calls']

In [66]:
np.random.choice(column_list)

'Day Charge'

#### Seed

In [67]:
np.random.seed(2018)
for i in range(5):
    print(np.random.random())

0.8823493117539459
0.10432773786047767
0.9070093335163405
0.3063988986063515
0.446408872427422